<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title ng-bind="title"></title>

	<style>
		ul {list-style: none;padding: 0;}
		ul>li {display: inline;margin-right: 12px;}
		ul>li>a {color: #04B1C7;text-decoration: none;}
	</style>

	<script src="assets/js/angular/angular.min.js" type="text/javascript"></script>
	<script src="assets/js/angular/angular-route.min.js" type="text/javascript"></script>
	<script src="assets/js/application.js" type="text/javascript"></script>
</head>
<body>
	<ul ng-controller="menuCtrl">
		<li ng-repeat="menu in menus"><a href="{{menu.target}}">{{menu.name}}</a></li>
	</ul>
	<div ng-view></div>
</body>
</html>